@model IList<string>

@section HeadStaff { 
 <link href="@Url.Content("~/Content/photoscroll.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/photoscroll.js")" type="text/javascript"></script>
}

<div id="imageFlow">
		<%--<div class="top"></div>--%>
		<div class="bank">

           @foreach (var item in Model)
           {
			<a rel="@item" title="" href=""></a>
			
           }
		</div>

		<div class="text">
			<div class="title">Loading</div>
			<div class="legend">Please wait...</div>
		</div>
		<div class="scrollbar">
			<img class="track" src="@Url.Content("~/Content/images/sb.jpg")" alt="">
			<img class="arrow-left" src="@Url.Content("~/Content/images/sl.gif")" alt="">
			<img class="arrow-right" src="@Url.Content("~/Content/images/sr.gif")" alt="">
			<img class="bar" src="@Url.Content("~/Content/images/sc.gif")" alt="">
		</div>
	</div>