@model IList<ROC.Models.News>
           


<div id="main">
    <div id="content">
        <div id="billboard">
            <article id="mainpic">
                <img src="@Url.Content("~/Content/images/main.jpg")" alt="人民的胜利" />
               @* <ul>
                    <li><a>专题相册</a></li>
                    <li><a>活动详情</a></li>
                </ul>*@
            </article>
        </div>
        <aside class="promos">
				<ul>
					<li><a href="/Home/photoshow"><img src="@Url.Content("~/Content/images/col1.jpg")" alt="崛起" width="210" height="145" /></a></li>
					<li><a href="/Home/photoshow"><img src="@Url.Content("~/Content/images/col2.jpg")" alt="铸剑" width="210" height="145" /></a></li>
                    <li><a href="/Home/photoshow"><img src="@Url.Content("~/Content/images/col3.jpg")" alt="风姿" width="210" height="145" /></a></li>
                    <li><a href="/Home/photogallary"><img src="@Url.Content("~/Content/images/col4.jpg")" alt="硕果" width="210" height="145" /></a></li>
				</ul>
		</aside>

    </div>
</div>