@model IList<ROC.Models.News>
           
@{
    ViewBag.Title = "Home Page";
}

@section HeadStaff{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.smallslider.js")"></script>
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/IndexPic/css/smallslider.css")" media="screen" />
}

<div id="homepage">
    <div id="content">
      <div id="topRow">
	  
        <div id="news">
          
		  
          <h2>News</h2>
          <ul class="headlines">
          @foreach (var item in Model)
          {
            <li><strong>@item.ContentTime.ToShortDateString()</strong> <a href="@Url.Action("NewsDetail", "Home", new { id = item.Id })">@item.Title</a></li>
          }
          </ul>
        </div>
		
		
		
        <div class="flash">
          <div id="flashbox" class="smallslider">
              <ul>
                @foreach (var item in ViewBag.IndexPicList)
                {
                     <li><a href="#"><img height="100%" width="100%" src="@Url.Content(item)" title="" alt="图片标题" /></a></li>
                }
              </ul>
            </div>
        </div>
		
		
		
		
		
        <div class="clear">&nbsp;</div>
		
      </div>
      <div id="bottomRow">
        <a href="#">
		<img class="floatRight rightCallout" src="" alt="" title="" /></a>
		
		<a href="#">
		<img class="floatRight middleCallout" src="" alt="" title="" /></a>
		
		<a href="#">
		<img class="floatRight leftCallout" src="" alt="" title="" /></a>

      
      </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#flashbox').smallslider({
            onImageStop: false,
            switchEffect: 'fadeOut',
            switchEase: 'easeOutBounce',
            switchPath: 'left',
            switchMode: 'hover',
            textSwitch: 20,
            textPosition: 'top',
            textAlign: 'center'
            
        });
    });
</script>