@model IEnumerable<ROC.Models.PictureStory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BackedLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Title
        </th>
        <th>
            Source
        </th>
       
        <th>
            CategoryID
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
            @item.Title
        </td>
        <td>
            @item.Source
        </td>
       
        <td>
            @item.CategoryID
        </td>
    </tr>
}

</table>

