@model IEnumerable<ROC.Models.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("NewsCategory","Index","NewsCategory")
</p>

<table>
    <tr>
        <th></th>
        <th>
            ModifiedTime
        </th>
        <th>
            Title
        </th>
        <th>
            Source
        </th>
        <th>
            ContentTime
        </th>
        <th>
            MainContent
        </th>
        <th>
            CategoryID
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
            @String.Format("{0:g}", item.ModifiedTime)
        </td>
        <td>
            @item.Title
        </td>
        <td>
            @item.Source
        </td>
        <td>
            @String.Format("{0:g}", item.ContentTime)
        </td>
        <td>
            @item.MainContent
        </td>
        <td>
            @item.CategoryID
        </td>
    </tr>
}

</table>

